@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Playfair+Display:ital,wght@0,600;0,700;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background: #f8f4eb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
    color: #e65d36 !important;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: contain;
}

.restaurant-cover-image {
  width: 100%;
}

.capitalize {
  text-transform: capitalize;
}

.restaurantDetails-btn {
  width: 100%;
  background-color: blueviolet !important;
  color: white;
  border: 0;
  text-decoration: none;
}

.restaurantDetails-btn:hover{
  cursor: pointer;
}

.restaurantDetails-btn:visited{
  color: white;
}

.cart-number{
  font-size: 10px;
  position: absolute;
  top:-5px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 1px;
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.cart-heading{
  position: relative;
}

svg {
  width: 100% !important;
  height: auto !important; /* yaha pe valid hai */
}

.Spinner-custom {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
